# MTA Exploratory Data Analysis

In [ ]:
# import all packages and set plots to be embedded inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [ ]:
# Source: http://web.mta.info/developers/turnstile.html
def get_data(week_nums):
    url = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt"
    dfs = []
    for week_num in week_nums:
        file_url = url.format(week_num)
        dfs.append(pd.read_csv(file_url))
    return pd.concat(dfs)
        
week_nums = [210605, 210612, 210619, 210626, 210703, 210710, 210717, 210724, 210731, 210807, 210814, 210821, 210828]
turnstiles_df = get_data(week_nums)

In [ ]:
turnstiles_df.shape

(2722610, 11)

In [ ]:
import psycopg2
import pandas as pd
import sqlalchemy as db



URL_DB = "postgresql://mtadata2:Tia1996$@34.133.11.2:5432/MTAdataprject1"
engine = db.create_engine(URL_DB)
turnstiles_df.columns = ['C_A','UNIT','SCP','STATION','LINENAME','DIVISION','DATE','TIME','DESC_','ENTRIES','EXITS']
turnstiles_df.to_sql("mta_data", con=engine, if_exists='append', index=False,chunksize=200000,method='multi')

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [ ]:
turnstiles_df.head()

    C_A  UNIT       SCP STATION  ...      TIME    DESC_  ENTRIES    EXITS
0  A002  R051  02-00-00   59 ST  ...  00:00:00  REGULAR  7578734  2590325
1  A002  R051  02-00-00   59 ST  ...  04:00:00  REGULAR  7578740  2590327
2  A002  R051  02-00-00   59 ST  ...  08:00:00  REGULAR  7578749  2590340
3  A002  R051  02-00-00   59 ST  ...  12:00:00  REGULAR  7578789  2590386
4  A002  R051  02-00-00   59 ST  ...  16:00:00  REGULAR  7578897  2590418

[5 rows x 11 columns]

## Assessing Data

In [ ]:
# Here we will list the columns 
list(turnstiles_df)

In [ ]:
# shape of the data
turnstiles_df.shape

In [ ]:
turnstiles_df.info(verbose=True, null_counts=True)

In [ ]:
# Check for null values
turnstiles_df.isnull().sum()

In [ ]:
turnstiles_df.describe()

## Data Cleaning 

>▪ Delete the space from `EXITS       ` column <br>
▪ Delete duplicates (drop `RECOVR AUD` from `DESC` column)  <br>
▪ Filter the data to only daily entries and exits <br>
▪ Add `Daily_entries` coulmn by finding the diffrence from `ENTRIES` column <br> 
▪ Add `Daily_exits` coulmn by finding the diffrence from `EXITS` column <br> 
▪ Add `Daily_trafic` coulmn by using `Daily_exits` + `Daily_entries` <br>

In [ ]:
list(turnstiles_df)

['C_A',
 'UNIT',
 'SCP',
 'STATION',
 'LINENAME',
 'DIVISION',
 'DATE',
 'TIME',
 'DESC_',
 'ENTRIES',
 'EXITS']

In [ ]:
# Delete the tab from `EXITS       ` column
turnstiles_df = turnstiles_df.rename(columns={'EXITS                                                               ':"EXITS"})

In [ ]:
list(turnstiles_df)

In [ ]:
# Delete duplicates (drop RECOVR AUD from DESC_ column)
turnstiles_df.DESC_.value_counts()

In [ ]:
turnstiles_df = turnstiles_df[turnstiles_df['DESC_'] == 'REGULAR']

In [ ]:
turnstiles_df.DESC_.value_counts()

REGULAR    2710456
Name: DESC_, dtype: int64

In [ ]:
# Filter the data to only daily entries and exits
df_daily = (turnstiles_df.groupby([ 'C_A','UNIT','SCP','STATION','DATE']).ENTRIES.max().reset_index())

In [ ]:
df_daily['EXITS'] = (turnstiles_df.groupby(['C_A','UNIT','SCP','STATION','DATE']).EXITS.max().reset_index().EXITS)

In [ ]:
df_daily.head()

    C_A  UNIT       SCP STATION        DATE  ENTRIES    EXITS
0  A002  R051  02-00-00   59 ST  05/29/2021  7579021  2590439
1  A002  R051  02-00-00   59 ST  05/30/2021  7579275  2590548
2  A002  R051  02-00-00   59 ST  05/31/2021  7579593  2590641
3  A002  R051  02-00-00   59 ST  06/01/2021  7580178  2590917
4  A002  R051  02-00-00   59 ST  06/02/2021  7580754  2591200

In [ ]:
# Add Daily_entries coulmn by finding the diffrence from ENTRIES column 

df_daily['DAILY_ENTRIES']= df_daily['ENTRIES'].diff()

df_daily.head()

    C_A  UNIT       SCP STATION        DATE  ENTRIES    EXITS  DAILY_ENTRIES
0  A002  R051  02-00-00   59 ST  05/29/2021  7579021  2590439            NaN
1  A002  R051  02-00-00   59 ST  05/30/2021  7579275  2590548          254.0
2  A002  R051  02-00-00   59 ST  05/31/2021  7579593  2590641          318.0
3  A002  R051  02-00-00   59 ST  06/01/2021  7580178  2590917          585.0
4  A002  R051  02-00-00   59 ST  06/02/2021  7580754  2591200          576.0

In [ ]:
# Add Daily_exits coulmn by finding the diffrence from EXITS column
df_daily['DAILY_EXITS']= df_daily['EXITS'].diff()
df_daily.head()

    C_A  UNIT       SCP STATION  ...  ENTRIES    EXITS  DAILY_ENTRIES  DAILY_EXITS
0  A002  R051  02-00-00   59 ST  ...  7579021  2590439            NaN          NaN
1  A002  R051  02-00-00   59 ST  ...  7579275  2590548          254.0        109.0
2  A002  R051  02-00-00   59 ST  ...  7579593  2590641          318.0         93.0
3  A002  R051  02-00-00   59 ST  ...  7580178  2590917          585.0        276.0
4  A002  R051  02-00-00   59 ST  ...  7580754  2591200          576.0        283.0

[5 rows x 9 columns]

In [ ]:
# Solve the negetive values on Daily_entries and Daily_exits
df_daily['PREV_ENTRIES'] = df_daily['ENTRIES'].shift(1)
df_daily['PREV_EXITS'] = df_daily['EXITS'].shift(1)

In [ ]:
def get_daily_counts(row, max_counter, name):
    counter = row[name] - row["PREV_"+name]
    if counter < 0:
        # Maybe counter is reversed?
        counter = -counter
    if counter > max_counter:
        # Maybe counter was reset to 0? 
        counter = min(row[name], row["PREV_"+name])
    if counter > max_counter:
        # Check it again to make sure we're not still giving a counter that's too big
        return 0
    return counter

df_daily["DAILY_ENTRIES"] = df_daily.apply(get_daily_counts, axis=1, max_counter=500000, name="ENTRIES")
df_daily["DAILY_EXITS"] = df_daily.apply(get_daily_counts, axis=1, max_counter=500000, name="EXITS")
df_daily.dropna(inplace= True)

Check Results

In [ ]:
df_daily[((df_daily.ENTRIES ==0) & (df_daily.DAILY_ENTRIES < 0)) | (df_daily.ENTRIES ==0) & (df_daily.DAILY_EXITS < 0)].head()

Empty DataFrame
Columns: [C_A, UNIT, SCP, STATION, DATE, ENTRIES, EXITS, DAILY_ENTRIES, DAILY_EXITS, PREV_ENTRIES, PREV_EXITS]
Index: []

In [ ]:
df_daily[((df_daily.ENTRIES != 0) & (df_daily.DAILY_ENTRIES < 0)) | (df_daily.ENTRIES != 0) & (df_daily.DAILY_EXITS < 0)].head()

Empty DataFrame
Columns: [C_A, UNIT, SCP, STATION, DATE, ENTRIES, EXITS, DAILY_ENTRIES, DAILY_EXITS, PREV_ENTRIES, PREV_EXITS]
Index: []

In [ ]:
# Add Daily_trafic coulmn by using Daily_exits + Daily_entries
df_daily['DAILY_TRAFIC']= df_daily['DAILY_ENTRIES'] + df_daily['DAILY_EXITS']

In [ ]:
# df_daily.drop(['DAILY_ENTRIES','DAILY_EXITS'],axis=1,inplace=True)

In [ ]:
df_daily.head()

    C_A  UNIT       SCP  ... PREV_ENTRIES PREV_EXITS  DAILY_TRAFIC
1  A002  R051  02-00-00  ...    7579021.0  2590439.0         363.0
2  A002  R051  02-00-00  ...    7579275.0  2590548.0         411.0
3  A002  R051  02-00-00  ...    7579593.0  2590641.0         861.0
4  A002  R051  02-00-00  ...    7580178.0  2590917.0         859.0
5  A002  R051  02-00-00  ...    7580754.0  2591200.0         819.0

[5 rows x 12 columns]

In [ ]:
# convert date to day_of_week
df_daily['DATE'] = pd.to_datetime(df_daily['DATE'])


df_daily['month'] = df_daily['DATE'].apply(lambda x: x.strftime('%B').lower())
df_daily['day_of_week'] = df_daily['DATE'].apply(lambda x: x.strftime('%A').lower())

In [ ]:
# List of days in order
day_order = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday',
       'sunday']
# create ordered categorical variable
df_daily['day_of_week'] = pd.Categorical(df_daily['day_of_week'],
                                               categories= day_order,
                                               ordered = True)